@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-ExtraLightItalic.ttf);
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-SemiBoldItalic.ttf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "NanumGothic";
  src: url(../font/NanumGothic-BlackItalic.ttf);
  font-style: italic;
  font-weight: 900;
}
body {
  font-family: "NanumGothic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}